<p id="notice"><%= notice %></p>

<p>
  <strong>German:</strong>
  <%= @translation.german %>
</p>

<p>
  <strong>Vietnamse:</strong>
  <%= @translation.vietnamese %>
</p>

<%= link_to 'Edit', edit_translation_path(@translation) %> |
<%= link_to 'Back', translations_path %>
