<%= form_for(wordclass) do |f| %>
  <% if wordclass.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wordclass.errors.count, "error") %> prohibited this wordclass from being saved:</h2>

      <ul>
      <% wordclass.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
