<p id="notice"><%= notice %></p>

<h1>Definitions</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>Example</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @definitions.each do |definition| %>
      <tr>
        <td><%= definition.body %></td>
        <td><%= definition.example %></td>
        <td><%= link_to 'Show', definition %></td>
        <td><%= link_to 'Edit', edit_definition_path(definition) %></td>
        <td><%= link_to 'Destroy', definition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Definition', new_definition_path %>
<%= link_to 'Translation', translations_path %>
