<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @definition.body %>
</p>

<p>
  <strong>Example:</strong>
  <%= @definition.example %>
</p>

<%= link_to 'Edit', edit_definition_path(@definition) %> |
<%= link_to 'Back', definitions_path %>
