<%= form_for(word) do |f| %>
  <% if word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(word.errors.count, "error") %> prohibited this word from being saved:</h2>

      <ul>
      <% word.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div>

  <div class="field">
    <%= f.label :note %>
    <%= f.text_area :note %>
  </div>

  <div class="field">
    <%= f.label :definition %>
    <%= f.text_area :definition %>
  </div>

  <div class="field">
    <%= f.label :language_id %>
    <%= f.text_field :language_id %>
  </div>

  <div class="field">
    <%= f.label :wordclass_id %>
    <%= f.text_field :wordclass_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
