<p id="notice"><%= notice %></p>

<h1>Words</h1>

<%= form_tag words_path, method: :get do %>
  <%= text_field_tag :search, params[:search] %>
  <%= button_tag "Suche", name: nil %>
<% end %>

<p><%= link_to "Advanced Search", new_search_path %></p>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>Definition</th>
      <th>Beispielsatz</th>
      <th>Synonym</th>
      <th>Note</th>
      <th>Language</th>
      <th>Wordclass</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @words.each do |word| %>
      <tr>
        <td><%= link_to word.body , word %></td>
        <td><%= word.definition %></td>
        <td><%= word.example %></td>
        <td><%= word.words_id %></td>
        <td><%= word.note %></td>
        <td><%= word.language.name %></td>
        <td><%= word.wordclass.name %></td>
        <td><%= link_to 'Edit', edit_word_path(word) %></td>
        <td><%= link_to 'Destroy', word, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Word', new_word_path %>
