<p id="notice"><%= notice %></p>

<!-- Content -->
<div class="container">
  	<div class="row">
      <div class="col-sm-2">
          <ul id="sidebar" class="nav nav-stacked affix">
            <li><%= link_to 'Zurück', words_path %></a></li>
            <li> <%= link_to 'Wort bearbeiten', edit_word_path(@word) %> </a></li>
        </ul>
      </div>
      <div class="col-sm-10">
          <div class="page-header">
            <h1>  <%= @word.body %> <small>   <%= @word.wordclass.name %></small> </h1>
          </div>

      <p>
        <strong>Definition:</strong>
        <%= @word.definition %>
      </p>

      <p>
        <strong>Example:</strong>
        <%= @word.example %>
      </p>

      <p>
        <strong>Synonym:</strong>
        <%= @word.words_id %>
      </p>


      <p>
        <strong>Anmerkung:</strong>
        <%= @word.note %>
      </p>

      <br>_______________________</br>

      <h3>Kommentare</h3>
      <table>
        <% if @comments.empty? %>
          Noch keine Kommentare
        <% else %>
        <% @comments.each do |comment| %>
          <tr>
            <th><%= comment.commenter %> sagt</th>
            <td><%= comment.body %> <tab> <i>am <%= comment.created_at %></i> </td>
          </tr>
          <%end%>
        <% end %>
      </table>

      </div>
    </div>
</div>
