<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @example.body %>
</p>

<p>
  <strong>Definition:</strong>
  <%= @example.definition %>
</p>

<%= link_to 'Edit', edit_example_path(@example) %> |
<%= link_to 'Back', examples_path %>
